<%= stylesheet_link_tag 'navbar' %>

<div class="navbar-cont">
  <div class="logo-app">
    <%= image_tag "default.png", alt: "App Logo", class: "img-log" %>
    <span class="user-email"><%= @current_user.email %></span>
  </div>
    
  <div class="nav">
    <ul class="nav-ul-cont">
       
       
      <li class="nav-li-cont">
        <div id="sign_out-id">
          <% if user_signed_in? %>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "sign-out" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
