
.flash-success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #3c763d;
    padding: 10px;
    margin-bottom: 1rem;
    opacity: 1; 
    animation: fadeOut 0.5s ease-in-out;
  }

  .flash-message.fade-out {
    display: none; /* Hide the element after fading out */
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; height: 0; padding: 0; border: none; } 
  }

  .flash-alert {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #a94442;
    padding: 10px;
    animation: fadeOut 0.5s ease-in-out forwards;
    display: block;
  }

  .groups-index{
    /* height: auto; */
    height: 100vh;
    background-color: #e5e8ef;
  }

  .group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 85%; 
    margin-left: auto; 
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
   

  }

  .total-sum{
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #fff;
    margin-top: 0;
    padding: 1rem;
    text-align: right; 
    
  }

 
  .add-group-btn{
    font-family: 'Montserrat', sans-serif;
    background-color: #5fb523;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
   
  }

  .group-indx-add{
    color:white;
    text-decoration: none;
  }

  .center {
    text-align: center;
  }

  .group-link {
    font-family: 'Montserrat', sans-serif;
    /* Add your desired styles here */
    color: #104982; /* Change the color to your preferred color */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
  }